body {
    background: #388E3C;
}

.App {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    margin: '10px';
    padding: '10px';
}

#RecipeScreen{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}
